.fontT {
  font-family: "Open Sans", sans-serif;
}
.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding-left: 38%;
  padding-right: 38%;
}
.layoutCenter {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 35px !important;
}
.bodyCard {
  padding-top: 15%;
  padding-left: 10%;
  padding-right: 10%;
}
.postCards{
	border-radius: 20em !important;
}